<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container p-2">
    <a class="navbar-brand" href="/" style="width: 200%;">Cuy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-flex">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/"> Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/comandos"> Comandos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacto"> Contacto</a>
        </li>
      </ul>
            
        <a class="btn btn-primary" href="https://discord.com/api/oauth2/authorize?client_id=788192031653494834&permissions=0&scope=bot" role="button">Invite</a>
      </form>
    </div>
  </div>
</nav>



    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">

<link rel="stylesheet" href="main.css">