<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>

   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


</head>
<body>
    <%- include("partials/navigation.html") -%>
    <h1><%= h1 %></h1>

<script type="text/javascript" src="./../index.js">
var txt2 = document.getElementById("lal");


txt2.onclick = function(){
	var txt = document.getElementById("lul");
	console.log(txt)
}
</script>
</body>
</html>